@import "./colors.scss";
@import "./fonts.scss";
.basket-list__total {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  border-bottom: 1px solid $color-border;
}
.basket-list__total__price {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 14px;
}

.quantity {
  font-size: 15px;
  font-weight: $font-bold;
  color: $color-price-red;
}
