$color-price-red: red;
$color-main-background: #eaeded;
$color-bg-basket-list: #fafafa;
$color-border: #efefef;
$color-reserver-rights: #767676;
$color-footer-links: white;
$color-bg-footer: #232f3e;
$color-text-product-info: black;
$color-star: #0066c0;
$color-review-date: #555;

$color-text-badge: white;
$color-bg-badge: #c45500;

$color-star-rating: #007bff;

$colorHeaderOrder: #eef0f2;
$color-border-2: #dee2e6;
$borderderBottomHeader: 1px solid $color-border-2;
