@import "./colors.scss";
:host {
  background-color: $color-main-background;
}

.main-content {
  position: relative;
  min-height: 83.8vh;
  &.basket-opened {
    display: grid;
    grid-template-columns: auto 20%;
  }
}

@media (max-width: 992px) {
  .main-content {
    &.basket-opened {
      grid-template-columns: auto 30%;
    }
  }
}
