@import "./styles/colors.scss";
@import "./styles/fonts.scss";
@import "./styles/footer.scss";
@import "./styles/home.scss";
@import "./styles/header.scss";
@import "./styles/logged-user.scss";

@import "./styles/basket-list.scss";
@import "./styles/basket-list-subtotal.scss";
// Products module
@import "./styles/products.scss";
@import "./styles/products-card.scss";
@import "./styles/products-filter.scss";
// Bootstrap
@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
